<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444184637140-892ugkk1gkk41cepme81m4aupv6q5a9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444184637140-892ugkk1gkk41cepme81m4aupv6q5a9r</string>
	<key>API_KEY</key>
	<string>AIzaSyBGYBtshPUQ1poE068ve-X3oGfYUrgX-t8</string>
	<key>GCM_SENDER_ID</key>
	<string>444184637140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stealth.test</string>
	<key>PROJECT_ID</key>
	<string>stealth-learning</string>
	<key>STORAGE_BUCKET</key>
	<string>stealth-learning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444184637140:ios:1caa1d8ef631f77b7f1541</string>
	<key>DATABASE_URL</key>
	<string>https://stealth-learning-default-rtdb.firebaseio.com</string>
</dict>
</plist>